@import "tailwindcss";


@plugin "daisyui" {
	themes: nord --default;
	root: ":root";
}

@utility btn {
	@apply duration-120 font-sans hover:-translate-y-px active:translate-y-0 transition-transform;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-base-100);
  color: var(--color-base-content);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

@keyframes window-enter {
	from {
		opacity: 0;
		transform: scale(0.5);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes window-exit {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(0.5);
	}
}

.window-enter {
	animation: window-enter 0.15s ease-out forwards;
}

.window-exit {
	animation: window-exit 0.15s ease-in forwards;
}
